<center><H1>CODE-A-THON

<CENTER><B>--------TASK EXERCISES--------


## <CENTER>TASK EXERCISE : LEVEL 1A
    
## <CENTER> > > 1.)  CREATE AN EMPTY TUPLE < <

In [1]:
Emp_tup = ()           #creating an empty tuple.
Emp_tup

()

In [2]:
type(Emp_tup)          #type is used to check its data type

tuple

## <center> > > 2.)CREATE A TUPLE CONTAINING NAMES OF YOUR SISTERS AND YOUR BROTHERS < <

In [3]:
Bro_s = ('rohan','sujal','shobit','harshit')  #Creating Bro's name tuple.

In [4]:
sis_s = ('ravena','shefali','meena','anu')    #Creating sis's name tuple.

## <center> > > 3.)JOINING BROTHERS AND SISTERS TUPLES AND ASSIGNING INTO SIBLINGS. < <

In [5]:
Siblings = Bro_s + sis_s
Siblings

('rohan', 'sujal', 'shobit', 'harshit', 'ravena', 'shefali', 'meena', 'anu')

## <center> > > 4.)HOW MANY SIBLINGS I HAVE?. < <

In [6]:
print('how many siblings I have - ',len(Siblings))

how many siblings I have -  8

## <center> > > 5).MODIFYING THE SIBLINGS TUPLE AND ADDING THE NAME OF FATHER AND MOTHER AND ASSIGN IT TO FAMILY_MEMBERS.< <

In [7]:
Parents = ("'Father_name' ='Sh.Ashok kumar'" , "'Mother_name'='Smt.Kiran Bala'")
print(Parents)

("'Father_name' ='Sh.Ashok kumar'", "'Mother_name'='Smt.Kiran Bala'")

In [8]:
Family_Members = Siblings + Parents  
Family_Members

('rohan',
 'sujal',
 'shobit',
 'harshit',
 'ravena',
 'shefali',
 'meena',
 'anu',
 "'Father_name' ='Sh.Ashok kumar'",
 "'Mother_name'='Smt.Kiran Bala'")

In [9]:
type(Family_Members)

tuple

## <CENTER>TASK EXERCISE : LEVEL 1b

### <center> ))1(( unpack siblings and parents from family_members

In [10]:
print(Family_Members)     #PACKING A TUPLE

('rohan', 'sujal', 'shobit', 'harshit', 'ravena', 'shefali', 'meena', 'anu', "'Father_name' ='Sh.Ashok kumar'", "'Mother_name'='Smt.Kiran Bala'")

In [11]:
*siblings,father,mother=Family_Members      #UNPACKING A TUPLE.(*)Asterisk is use to collect remaining values as a list.

In [12]:
print(siblings)

['rohan', 'sujal', 'shobit', 'harshit', 'ravena', 'shefali', 'meena', 'anu']

In [13]:
parents=father+mother
print(parents)

'Father_name' ='Sh.Ashok kumar''Mother_name'='Smt.Kiran Bala'

###  <center>))2((     CREATE FRUITS, VEGETABLE AND ANIMAL PRODUCTS TUPLE & JOIN THE THREE TUPLES AND ASSIGN IT TO A VARIABLE CALLED FOOD_STUFF_TP.

In [14]:
fruits = ('Apple','Bnana','Grapes','Kivi','Watermelon')
vegetable = ('Onion','Ladyfinger','Carrot','Ginger','Tomato')
animal_products = ('Egg','Milk','Meat','Petfood')
print(fruits,vegetable,animal_products)

('Apple', 'Bnana', 'Grapes', 'Kivi', 'Watermelon') ('Onion', 'Ladyfinger', 'Carrot', 'Ginger', 'Tomato') ('Egg', 'Milk', 'Meat', 'Petfood')

In [15]:
Food_stuff_tp = (fruits+vegetable+animal_products)
Food_stuff_tp

('Apple',
 'Bnana',
 'Grapes',
 'Kivi',
 'Watermelon',
 'Onion',
 'Ladyfinger',
 'Carrot',
 'Ginger',
 'Tomato',
 'Egg',
 'Milk',
 'Meat',
 'Petfood')

### <center>        ))3(( changing the about food_stuff_tp tuple to a food_stuff_lt list

In [16]:
type(Food_stuff_tp)

tuple

In [17]:
Food_stuff_lt = list(Food_stuff_tp)                     #changing datatype tuple into list.
print(type(Food_stuff_lt))
print(Food_stuff_lt)

<class 'list'>
['Apple', 'Bnana', 'Grapes', 'Kivi', 'Watermelon', 'Onion', 'Ladyfinger', 'Carrot', 'Ginger', 'Tomato', 'Egg', 'Milk', 'Meat', 'Petfood']

In [18]:
type(Food_stuff_lt)                 #this showing that now it is in list.

list

In [19]:
len(Food_stuff_lt)

14

### <CENTER>))4((SLICE OUT THE MIDDLE ITEM OR ITEMS FROM THE FOOD_STUFF_TP TUPLE OR FOOD_STUFF_LT LIST.

In [20]:
Food_stuff_lt

['Apple',
 'Bnana',
 'Grapes',
 'Kivi',
 'Watermelon',
 'Onion',
 'Ladyfinger',
 'Carrot',
 'Ginger',
 'Tomato',
 'Egg',
 'Milk',
 'Meat',
 'Petfood']

In [21]:
Food_stuff_tp[6:8] #middle items of the food_stuff_tp tuple.

('Ladyfinger', 'Carrot')

In [22]:
Food_stuff_lt[6:8]     #middle items of the food_stuff_lt list.

['Ladyfinger', 'Carrot']

### <center>  ))5(( SLICE OUT TJE FIRST THREE AND LAST THREE ITEMS FROM FOOD_STAFF_LT LIST.

In [23]:
Food_stuff_lt[0:3]+Food_stuff_lt[11:]                #showing the first three and last three items of the list.

['Apple', 'Bnana', 'Grapes', 'Milk', 'Meat', 'Petfood']

### <center> ))6((DELETING THE FOOD_STAFF_TP TUPLE COMPLETELY.

In [24]:
Food_stuff_tp

('Apple',
 'Bnana',
 'Grapes',
 'Kivi',
 'Watermelon',
 'Onion',
 'Ladyfinger',
 'Carrot',
 'Ginger',
 'Tomato',
 'Egg',
 'Milk',
 'Meat',
 'Petfood')

In [25]:
del(Food_stuff_tp)            #deleting an existing tuple completely.

In [26]:
Food_stuff_tp                     #this show that their is no any tuple its name is Food_stuff_tp.

NameError: name 'Food_stuff_tp' is not defined

### <center>))7((CHECK IF AN ITEM EXISTS IN TUPLE(NORDIC_COUNTRIES).

In [27]:
nordic_countries = ("Demark","Finland","Iceland","Norway","Sweden")
print(nordic_countries)

('Demark', 'Finland', 'Iceland', 'Norway', 'Sweden')

In [28]:
nordic_countries = ("Demark","Finland","Iceland","Norway","Sweden")
c = input("enter the country name:")
if  c in nordic_countries:
    print(c,"is a nordic country")
else :
    print(c,'is not a nordic country')

enter the country name:Finland
Finland is a nordic country

## <CENTER>TASK EXERCISE : LEVEL 2a

### <center>))1((FIND THE LENGTH OF THE SET IT_COMPANIES.

In [29]:
it_companies = {'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}

In [30]:
len(it_companies)

7

In [31]:
type(it_companies)

set

### <center>))2((ADDING TWIITER TO IT_COMPANIES.

In [32]:
it_companies.add('Twitter')                 # add function is used to add something in your set 
print(it_companies)                         # NOTE -- but it add alphabetically

{'Facebook', 'IBM', 'Amazon', 'Google', 'Microsoft', 'Twitter', 'Apple', 'Oracle'}

### <center>))3((INSERT MULTIPLE IT COMPANIES AT ONCE TO THE SET IT_COMPANIES

In [33]:
IT_Companies = {'HCL Technogies','Mphasis Ltd','Tech Mahindra','SolidData','Digital Rocketship'}

In [34]:
it_companies.update(IT_Companies)   #inserting multiple IT companies at once to the set it_companies by using update function.
print(it_companies)

{'Facebook', 'SolidData', 'Amazon', 'HCL Technogies', 'Microsoft', 'Twitter', 'Mphasis Ltd', 'Digital Rocketship', 'Apple', 'IBM', 'Tech Mahindra', 'Google', 'Oracle'}

### <center>))4((REMOVE ONE OF THE COMPANIES FROM THE SET IT_COMPANIES.

In [35]:
it_companies.remove('Facebook')             #remove function is used to remove that certain data from your given dataset.
print(it_companies)

{'SolidData', 'Amazon', 'HCL Technogies', 'Microsoft', 'Twitter', 'Mphasis Ltd', 'Digital Rocketship', 'Apple', 'IBM', 'Tech Mahindra', 'Google', 'Oracle'}

### <center>))5(( DIFFFERENCE B/W REMOVE AND DISCARD FUNCTION..

In [36]:
rr = {'Mphasis Ltd','Tech Mahindra','Twitter'}

In [37]:
rr.remove('Twitter')                            #using remove function.
print(rr)

{'Mphasis Ltd', 'Tech Mahindra'}

In [38]:
rr.remove('Twiiter')                      #again using remove function it will raise KeyError. as compare to discard function.

KeyError: 'Twiiter'

In [39]:
rt = {'Mphasis Ltd','Tech Mahindra','Twitter'}

In [40]:
rt.discard('Twitter')                             #Using discard fucntion 
print(rr)

{'Mphasis Ltd', 'Tech Mahindra'}

In [41]:
rt.discard('Twitter')          #again using discard function it will not raise any KeyError. as compare to remove function.

In python, set class provide a member function remove() to delete an element from the set.It raise a __KEYERROR__ if the element is not present in the set or you are not sure that the value to be deleted exists in the set or not.
                                                                                                    But in python,set class also provided a function discard()to remove an element from set. Which does not throw any Error unlike remove() function because it accepts an element as an argument and if that element exists in the set, then it deletes that otherwise it does nothing.

## <CENTER>TASK EXERCISE : LEVEL 2b

### <CENTER>))1((JOIN A AND B

In [42]:
A={19,22,24,20,25,26}                                     #creating two data sets 
B={19,22,20,25,26,24,28,27}

In [43]:
set_union = A.union(B)                                     # A union B means join the values of set A&B but only once time no
print(set_union)                                           #  repeat because duplication is nit possible in sets.

{19, 20, 22, 24, 25, 26, 27, 28}

### <CENTER>))2((FIND A INTERSECTION B

In [44]:
set_intersection = A.intersection(B)
print(set_intersection)

{19, 20, 22, 24, 25, 26}

### <CENTER>))3((IS A SUBSET OF B

In [45]:
subset = A.issubset(B)
print(subset)

True

### <CENTER>))4((ARE A AND B DISJOINT SETS

In [46]:
disjoint_set = A.isdisjoint(B)
print(disjoint_set)

False

In [47]:
disjoint_sett = B.isdisjoint(A)
print(disjoint_set)

False

### <CENTER>))5((JOIN A WITH B AND B WITH A

In [48]:
join_aB = A.union(B)
join_aB

{19, 20, 22, 24, 25, 26, 27, 28}

In [49]:
join_bA = B.union(A)
join_bA

{19, 20, 22, 24, 25, 26, 27, 28}

### <CENTER>))6(( WHAT IS THE SYMMETRIC DIFFERENCE BETWEEN A AND B

In [50]:
sym_dif = A.symmetric_difference(B)
print(sym_dif)

{27, 28}

We use symmetric_difference() to return a new set sys_dif that only stores those values that are not present in the previous 2 sets(A & B).

### <CENTER>))7((DELETE THE SETS COMPLETELY

In [51]:
sets="A data",A,"B data",B,"union data",set_union,"intersection data",set_intersection,"subset data",subset,"disjoint data",disjoint_set,"disjointt data",disjoint_sett,"joinab data",join_aB,"joinba data",join_bA,"sys data",sym_dif
sets       #ALL THE ABOVE SETS ARE STORED IN SETS NAME VARAIBLE.

('A data',
 {19, 20, 22, 24, 25, 26},
 'B data',
 {19, 20, 22, 24, 25, 26, 27, 28},
 'union data',
 {19, 20, 22, 24, 25, 26, 27, 28},
 'intersection data',
 {19, 20, 22, 24, 25, 26},
 'subset data',
 True,
 'disjoint data',
 False,
 'disjointt data',
 False,
 'joinab data',
 {19, 20, 22, 24, 25, 26, 27, 28},
 'joinba data',
 {19, 20, 22, 24, 25, 26, 27, 28},
 'sys data',
 {27, 28})

In [52]:
del(sets)          #FOR DELETION OF SETS.

In [53]:
sets       #means all the sets are completely deleted.

NameError: name 'sets' is not defined

## <CENTER>TASK EXERCISE : LEVEL 2C

### <CENTER>))1((CONVERT THE AGES TO A SET AND COMPARE THE LENGTH OF THE LIST AND THE SET THEN SHOWING WHICH ONE IS GREATER.

In [54]:
age = [22,19,24,25,26,24,25,24]          #HERE AGE IS IN LIST FORM.
type(age)

list

In [55]:
age_set = set(age)                    #NOW IT IS IN SET. BY USING SET DATATYPE FOR CONVERTING LIST TO SET.
type(age_set)

set

In [56]:
len(age)          #LENGTH OF THE AGE

8

In [57]:
len(age_set)        #LENGTH OF THE SET >LENGTH IS FIND OUT BY USING LEN FUNCTION.

5

In [58]:
len(age)==len(age_set)           #len of set and list is not equal because in set duplication is not possible.

False

In [59]:
if len(age)>len(age_set):
    print("length of the list is greater than the length of the set.")
else:
    print("length of the set is greater than the length of the list.")

length of the list is greater than the length of the set.

### <CENTER>))2((DIFFERENCE B/W THE DATATYPES:STRING ,LIST,TUPLE AND SET.

# A tuple is a sequence of immutable python objects. Tuples are just like lists with the exception that tuples cannot be changed once declared or tuples are usually faster than lists.

# A string is a sequence of characters. It can be declared in python by using double quotes. Strings are immutable means> they cannot be changed.

# List are just like the arrays declared in other languages. But the most powerful thing is that list need not to be always homogenous. A single list can contain strings, intergers, as well as objects. List are mutable means> they can be easily changed after declaration as compare to tuple and string.(list can be characters,integers or even another list)
>>LIST) You can add new values and delete old ones, you can slice it,you can change values you already stored in it.

# Set is a group of similar type of element which is order or unordered,mutable or in set duplication is not possible.

_______________________________________________________________________________________________________________________________
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

1) Datatype           |   1) STRING        |         LIST             |           TUPLE               |        SET
 
  Brackets            | curve brackets      |      Square brackets     |      Curve brackets           |     Braces brackets
                      |       ()            |           []             |            ()                 |         {}
 
  Nature              |    Immutable        |        Mutable           |         Immutable             |        Mutable
                                           
  Looks               |     ("coding")      |        [2,4,6,8]         |        ('code','A','thon')    |  {'c','o','d','e','r'}   
 -----------------combination of character  |change easily in the list |  tup1[2]='A'type error occur  |   unordered mapping 
                          slicing [0:3]            insert values           doesn't support no changable|   key values called
                                                                                    in tuple                dictionary
_______________________________________________________________________________________________________________________________
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

In [60]:
st = ("rtk")                                                    #STRING

In [61]:
print(st,'type-',(type(st)))

rtk type- <class 'str'>

In [62]:
l = [4,6,6,8,23]                                                 #LIST
print(l,'-TYPE-',type(l))

[4, 6, 6, 8, 23] -TYPE- <class 'list'>

In [63]:
t = ('cr','to','go')                                             #TUPLE
print(t,'-TYPE-',type(t))

('cr', 'to', 'go') -TYPE- <class 'tuple'>

In [64]:
s = {'c','o','d','e'}                                            #SET
print(s,'-TYPE-',type(s))

{'o', 'c', 'e', 'd'} -TYPE- <class 'set'>

### <CENTER>))3((I AM A TEACHER AND I LOVE TO INSPIRE AND TEACH PEOPLE.

In [65]:
line = "i am a teacher and i love to inspire and teach people"
unique_words_set = []
for w in line.split():
    if w not in unique_words_set:
        unique_words_set.append(w)
        
print("UNIQUE_WORDS :-",unique_words_set)

print("TOTAL NO. OF UNIQUE_WOORDS USED IN SENTENCE :-",len(unique_words_set))

UNIQUE_WORDS :- ['i', 'am', 'a', 'teacher', 'and', 'love', 'to', 'inspire', 'teach', 'people']
TOTAL NO. OF UNIQUE_WOORDS USED IN SENTENCE :- 10

## <CENTER>TASK EXERCISE : LEVEL 3a

### <CENTER>))1((CREATING AN EMPTY DICITIONARY CALLED DOG

In [1]:
dog = {}

### <CENTER>))2((ADDING NAME,COLOR,BREED,LEGS,AGE TO THE DOG DICTIONARY

In [67]:
dog["Details"]="'name','color','breed','legs','age'"
print(dog)

{'Details': "'name','color','breed','legs','age'"}

In [68]:
type(dog)

dict

### <CENTER>))3(( CREATING A STUDENT DICTIONARY AND ADDING FIRST_NAME,GENDER,AGE,MARTIAL STATUS,SKILLS,COUNTRY,CITY AND ADDRESS AS KEYS FOR THE DICTIONARY

In [69]:
student = {
    'first_name':'Ritik',
    'last_name':'Mehra',
    'gender':'Male',
    'age':20,
    'marital status':'Single',
    'skills':['python','excel','html'],
    'country':'USA',
    'city':'Los Angeles, California',
    'address':'1463 ambota heights drive'
                }
print(student)

{'first_name': 'Ritik', 'last_name': 'Mehra', 'gender': 'Male', 'age': 20, 'marital status': 'Single', 'skills': ['python', 'excel', 'html'], 'country': 'USA', 'city': 'Los Angeles, California', 'address': '1463 ambota heights drive'}

### <CENTER>))4((LENGTH OF THE STUDENT DICTIONARY.

In [70]:
print('Length of student dictionary -',len(student))

Length of student dictionary - 9

### <CENTER>))5((GETTING THE VLAUES OF THE SKILLS AND CHECK THE DATATYPE,IT SHOUULD BE A (LIST)

In [71]:
print(student['skills'])               #Names of the skills.

['python', 'excel', 'html']

In [72]:
type(student['skills'])          #it show that skills is a list datatype.

list

### <CENTER>))6((MODIFYING THE SKILLS VALUES BY ADDING ONE OR TWO SKILLS

In [73]:
student['skills'].append('java')
print(student['skills'])

['python', 'excel', 'html', 'java', 'java', 'java', 'java']

### <CENTER>))7((GET THE DICTIONARY KEYS AS LIST

In [74]:
student.keys()

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [75]:
key_list= list(student.keys())
key_list

['first_name',
 'last_name',
 'gender',
 'age',
 'marital status',
 'skills',
 'country',
 'city',
 'address']

### <CENTER>))8((GET THE DICTIONARY VALUES AS LIST

In [76]:
student.values()

dict_values(['Ritik', 'Mehra', 'Male', 20, 'Single', ['python', 'excel', 'html', 'java', 'java', 'java', 'java'], 'USA', 'Los Angeles, California', '1463 ambota heights drive'])

In [77]:
val_list= list(student.values())
val_list

['Ritik',
 'Mehra',
 'Male',
 20,
 'Single',
 ['python', 'excel', 'html', 'java', 'java', 'java', 'java'],
 'USA',
 'Los Angeles, California',
 '1463 ambota heights drive']

### <CENTER>))9((CHANGE THE DICTIONARY TO A LIST OF TUPLES USING ITEMS()METHOD

In [78]:
list_of_tuples = list(student.items())
list_of_tuples

[('first_name', 'Ritik'),
 ('last_name', 'Mehra'),
 ('gender', 'Male'),
 ('age', 20),
 ('marital status', 'Single'),
 ('skills', ['python', 'excel', 'html', 'java', 'java', 'java', 'java']),
 ('country', 'USA'),
 ('city', 'Los Angeles, California'),
 ('address', '1463 ambota heights drive')]

### <CENTER>))10((DELETE ONE OF THE ITEMS IN THE DICTIONARY

In [79]:
del student['country']
student

{'first_name': 'Ritik',
 'last_name': 'Mehra',
 'gender': 'Male',
 'age': 20,
 'marital status': 'Single',
 'skills': ['python', 'excel', 'html', 'java', 'java', 'java', 'java'],
 'city': 'Los Angeles, California',
 'address': '1463 ambota heights drive'}

### <CENTER>))11((DELETE ONE OF THE DICTIONARIES

In [2]:
dog

{}

In [82]:
del dog             #del keword method is uses

In [83]:
print(dog)           #means dog name dictionary is deleted successfully.

NameError: name 'dog' is not defined

## <CENTER>TASK EXERCISE : LEVEL 4a

### <CENTER>))1((  CODE TO GET USER INPUT USING INPUT.IF THE USER IS 18 OR OLDER,GIVE FEEDBACK:YOU ARE OLD ENOUGH TO DRIVE.IF BELOW 18GIVE FEEDBACK TO WAIT FOR THE MISSING AMOUNT OF YEARS.

In [84]:
Age=int(input('Enter Your Age : '))
if Age>=18:
    print('You Are Old Enough To Learn To Drive')
else:
    print('You Need',18-Age,'More Years To Learn To Drive')

Enter Your Age : 17
You Need 1 More Years To Learn To Drive

### <CENTER>))2(( CODE TO COMPARE THE VALUES OF MY_AGE AND YOUR AGE.WHO IS OLDER(ME OR YOU).USING INPUT TO GET THE AGE AS INPUT

In [85]:
Age = int(input('enter your age: '))
my_age = 20
if Age ==20:
    print('we are same in age.')
elif Age==21:
    print('you are',Age-20,'year older than me.')    
elif Age>20:
    print('you are',Age-20,'years older than me.')
elif Age==19:
    print('you are',20-Age,'year younger than me.')
else:
    print('you are',20-Age,'years younger than me.')

enter your age: 18
you are 2 years younger than me.

### <CENTER>))3((CODE TO GET TWO VALUE FROM THE USER USING INOUT PROMPT. IF A IS GREATER THAN B RETURN A IS GREATER THAN B, IF A IS LESS THAN B RETURN A IS SMALLER THAN B,ELSE A EQUAK TO B.

In [86]:
a = int(input('enter number one : '))
b = int(input('enter number second : '))
if a>b:
    print(a,'is greater than',b)
elif b>a:
    print(a,'is smaller than',b)
else:
    print(a,'is equal to',b)

enter number one : 25
enter number second : 29
25 is smaller than 29

## <CENTER>TASK EXERCISE : LEVEL 4b

### <CENTER>))1(( CODE TO GIVE GRADE TO STUDENTS ACCORDING TO THEIR SCORES.

In [87]:
# simple program to give grade to student directly according to their scores.
score = int(input('Student score is :'))
if score>=80 and score<=100:
    print('Student Grade is A')
elif score>=70 and score<=79:
    print('Student Grade is B')
elif score>=60 and score<=69:
    print('Student Grade is C')
elif score>=50 and score<=59:
    print('Student Grade is D')
elif score<=49:
    print('Student Grade is F')
else:
    print('Wrong score are Entered')

Student score is :79
Student Grade is B

In [88]:
#program with total marks with average to give grade to student.

print('Enter marks obtained by student in 5 subjects:')
sub1 = int(input())
sub2 = int(input())
sub3 = int(input())
sub4 = int(input())
sub5 = int(input())
tot_marks = sub1+sub2+sub3+sub4+sub5
avg = tot_marks/5

if avg>=80 and avg<=100:
    print('Student Grade is A')
elif avg>=70 and avg<=79:
    print('Student Grade is B')
elif avg>=60 and avg<=69:
    print('Student Grade is C')
elif avg>=50 and avg<=59:
    print('Student Grade is D')
elif avg<=49:
    print('Student Grade is F')
else:
    print('Wrong input you entered')

Enter marks obtained by student in 5 subjects:
40
35
66
75
88
Student Grade is C

### <CENTER>))2((CODE TO CHECK THE SEASON IS AUTUMN,WINTER,SPRING OR SUMMER..

In [89]:
month = (input("ENTER THE MONTH NAME :"))

if month in('September','October','November'):
    print('SEASON IS AUTUMN')
elif month in('December','January','February'):
    print('SEASON IS WINTER')    
elif month in('March','April','May'):
    print('SEASON IS SPRING')
elif month in('June','July','August'):
    print('SEASON IS SUMMER')    
else:
    print('WRONG INPUT')

ENTER THE MONTH NAME :June
SEASON IS SUMMER

### ))3(( CODE FOR IF FOLLOWING LIST DOESN'T CONTAIN THAT FRUIT IN LIST THEN ADD THAT FRUIT TO THE LIST OTHERWISE IF FRIUT EXISTS THEN PRINT FRUIT ALREADY EXIST IN THE LIST.

In [90]:
eli = input("Enter The Fruit Name : ")
fruits_list =  ['banana','orange','mango','lemon']

if eli in fruits_list:
    print("That fruit is already exist in the list")
else: 
    fruits_list.append(eli)
    
    print(fruits_list)

Enter The Fruit Name : Apple
['banana', 'orange', 'mango', 'lemon', 'Apple']

## <CENTER>TASK EXERCISE : LEVEL 4C

In [3]:
person = {
    'first_name':'Trainee',
    'last_name':'coder',
    'age':'25',
    'country':'India',
    'is_married':'False',
    'skills': ['Javascript','html','react','Node','MongoDB','python','R','Analytics Software'],
    'address':{
        'street':'New Delhi,Banglore',
        'zipcode':'100010'
    }
}

In [4]:
person

{'first_name': 'Trainee',
 'last_name': 'coder',
 'age': '25',
 'country': 'India',
 'is_married': 'False',
 'skills': ['Javascript',
  'html',
  'react',
  'Node',
  'MongoDB',
  'python',
  'R',
  'Analytics Software'],
 'address': {'street': 'New Delhi,Banglore', 'zipcode': '100010'}}

In [97]:
for key in person:
    print(key)

first_name
last_name
age
country
is_married
skills
address

In [98]:
for key, value in person.items():
    print(key,value)

first_name Trainee
last_name coder
age 25
country India
is_married False
skills ['Javascript', 'html', 'react', 'Node', 'MongoDB', 'python', 'R', 'Analytics Software']
address {'street': 'New Delhi,Banglore', 'zipcode': '100010'}

### ))*((CHECKING THE PERSON DICTIONARY HAS SKILLS KEY,AND PRINT OUT ITS MIDDLE SKILLS IN THE SKILL LIST.

In [99]:
for key in person:
    if key == 'skills':
        print('Person Dictionary Has Skills Key')                   
        print("Middle term is ",(len(person['skills'])/2))              #Mid value.

Person Dictionary Has Skills Key
Middle term is  4.0

In [100]:
print("Middle skill in the skill list is:",person['skills'][4])

Middle skill in the skill list is: MongoDB

### ))*((CHECKING PERSON DICTIONARY HAS SKILLS KEY AND IT HAS PYTHON SKILL OR NOT

In [101]:
for key in person:
    if key == 'skills':
        print('Person Dictionary Has Skills Key')
        if key in person:
            a = person['skills']
            print('Skills Are: ',a)
            if 'python' in a:
                print("The Result Is",'python' in a,"\nPerson has PYTHON SKILL")

Person Dictionary Has Skills Key
Skills Are:  ['Javascript', 'html', 'react', 'Node', 'MongoDB', 'python', 'R', 'Analytics Software']
The Result Is True
Person has PYTHON SKILL

### ))*((

In [ ]:
for key in person:
    if key == 'skills':
        print('Person Dictionary Has Skills Key')
        if key in person:
            a = person['skills']
            print('Skills Are: ',a)
            if ['Javascript','html'] in a:
                print("")

In [14]:
if key in person:
    a=person['skills']
    if ['Javascript','html','react'] in a:
        print("He is a front end developer")
    else:
        print('no')

no

In [45]:
n = input("input the specailation")
if n in ("Javascript","html","React"):
    print("He is a Front End Developer")
elif n in ("Node","Python","MongobB"):
    print("He is  a backend developer")
elif n in ("React","Node","MongobB"):
    print("full stack developer")
else:
    print("Analist")

input the specailationNode
He is  a backend developer

In [44]:
if "India" in person['country']:
    if"False"in person ["is_married"]:
        print("Traine coder lives in India.He is not married")

Traine coder lives in India.He is not married

country = 'india'
status = 'single'
if country=='india'or status =='married':
    print('Trainee coder lives in',country,'.','he is',status)
elif country=='india'or status=='not married':
    print('Traine coder lives in',country,'.','he is',status)

if key =='is_married'
    if person


'india'or status =='married':
    print('Trainee coder lives in',country,'.','he is',status)
elif country=='india'or status=='not married':
    print('Traine coder lives in',country,'.','he is',status)

## <CENTER>TASK EXERCISE : LEVEL 5a

# 1

In [15]:
c = 0
while c<=10:
    print(c)
    c=c+1

0
1
2
3
4
5
6
7
8
9
10

# 2

In [140]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 3

In [30]:
for i in range(1,8):
    for j in range(1,i+1):
        print("#",end="")
    print('\n')

#

##

###

####

#####

######

#######

# 4

In [17]:
rows=8
column=8
for i in range (rows):
    for j in range(column):
        print("#",end="")
    print()

########
########
########
########
########
########
########
########

# 5

In [32]:
for i in range(0,11):
    print(i,"*",i,"=",i*i)

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

# 6

In [33]:
list = ['python','matplotlib','scikit-learn']
for i in list:
    print(i)

python
matplotlib
scikit-learn

# 7

In [34]:
for i in range (0,101):
    if i%2==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# 8

In [38]:
start,end = 0,100
for num in range(start,end+1):
    if num%2!=0:
        print(num,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

# 5b

In [39]:
num = 100
total=sum(range(1,num+1))
print('The sum of all numbers is',total)

The sum of all numbers is 5050

In [42]:
n = 100
i = 0
sum = 0
while(i<=n):
    sum=sum+i
    i=i+2
print('sum of even number:',sum)

sum of even number: 2550

2

In [153]:

def circle(r):
    return pi*r**2

In [154]:
print(circle(10))

314.1592653589793

### Exercise 13 CREATING WORD CLOUD PRESENTATION IN SECOND NOTEBOOK.

# <center> TASK EXERCISE:10a

# 1

In [20]:
from datetime import datetime
dt = datetime.now()
ts = datetime.timestamp(dt)
print('Date and Time is:',dt)
print('Timestamp is:',ts)

Date and Time is: 2022-10-08 15:58:59.555488
Timestamp is: 1665269939.555488

# 2

In [21]:
now = datetime.now()
date_time_str = now.strftime("%m/%d-%Y %H:%M:%S")
print('DateTime String:',date_time_str)

DateTime String: 10/08-2022 16:07:37

# 3

In [22]:
my_date = "20-Aug-2020"
d = datetime.strptime(my_date,"%d-%b-%Y")
print(d.strftime("%d-%m-%Y"))

20-08-2020

# 4

In [23]:
from datetime import datetime
import datetime

In [24]:
dtt1=datetime.datetime(2022,9,23)
dtt2=datetime.datetime(2022,12,31)
tdeltaa = dtt2 - dtt1
print(tdeltaa)
print(type(tdeltaa))

99 days, 0:00:00
<class 'datetime.timedelta'>

# 5

In [28]:
dt1 = datetime.datetime(1970,1,1)
dt2 = datetime.datetime(2022,12,20)
tdelt = dt2 - dt1
print(tdelt)
print(type(tdelt))

19346 days, 0:00:00
<class 'datetime.timedelta'>

# 6

The timestamp() method of a datetime module returns the POSIX timestamp corresponding to the datetime instance. The return value is float.

There are three modules in Python, using which, we can get the timestamp. These are-

calendar time datetime

Datatime module can be used for adding posts on a blog by using some commands that are very easy to use.

It makes things more creative and good.

Time Series Analysis in Python considers data collected over time might have some structure; hence it analyses Time Series data to extract its valuable characteristics

Timestamp is the pandas equivalent of python's Datetime and is interchangeable with it in most cases. It's the type used for the entries that make up a DatetimeIndex, and other timeseries oriented data structures in pandas. Parameters: ts_input : datetime-like, str, int, float. Value to be converted to Timestamp.

What is datetime datetime in Python?
datetime in Python is the combination between dates and times. The attributes of this class are similar to both date and separate classes. These attributes include day, month, year, minute, second, microsecond, hour, and tzinfo.

# 6a

# 1

In [82]:
def sum(a,b):
    return a+b
print("sum of two no. is ",sum(8,2))

sum of two no. is  10

# 2

In [84]:
import math as M

In [85]:
radius=float(input("enter the radius of circle:"))
area_of_circle=M.pi*radius*radius
print("area of circle is :",area_of_circle)

enter the radius of circle:25
area of circle is : 1963.4954084936207

# 3

In [46]:
def add_all_numbers(numbers):
    total=0
    for x in numbers:
        total+=x
    return total
print(add_all_numbers((3,9,6,4,9)))

31

# 4

In [47]:
celsius=37.5
farenheit=(celsius*9/5)+32
print(farenheit)

99.5

# 5

In [48]:
def check_season(month):
    season = {
        'Spring': ['September', 'October', 'November'],
        'Summer': ['December', 'January', 'February'],
        'Autumn': ['March', 'April', 'May'],
        'Winter': ['June', 'July', 'August']
        }
    key = season.keys()
    for k in key:
        if month in season[k]: return k
    return 'invalid month'
 
print(check_season('October'))

Spring

# 6

In [88]:
def calculate_slope(x1, y1, x2, y2):
    if(x2 - x1 != 0):
        return (float)(y2-y1)/(x2-x1)
    return sys.maxint
 
x1 = 4
y1 = 2
x2 = 2
y2 = 5
print ("Slope is :", slope(x1, y1, x2, y2))

NameError: name 'slope' is not defined

# 7

In [52]:
import math 
  
def equationroots( a, b, c): 
  

    dis = b * b - 4 * a * c 
    sqrt_val = math.sqrt(abs(dis)) 
      
    
    if dis > 0: 
        print(" real and different roots ") 
        print((-b + sqrt_val)/(2 * a)) 
        print((-b - sqrt_val)/(2 * a)) 
      
    elif dis == 0: 
        print(" real and same roots") 
        print(-b / (2 * a)) 
      
    else:
        print("Complex Roots") 
        print(- b / (2 * a), " + i", sqrt_val) 
        print(- b / (2 * a), " - i", sqrt_val)
        
a = 1
b = 10
c = -24
  
if a == 0: 
        print("Input correct quadratic equation") 
else:
    equationroots(a, b, c)

 real and different roots
2.0
-12.0

# 8

In [53]:
def print_lst(food):
    for x in food:
        print(x)
fruit=['guava','lemon','kiwi']
print_lst(fruit)

guava
lemon
kiwi

# 9

In [54]:
def reverse_List(A, start, end):
    while start < end:
        A[start], A[end] = A[end], A[start]
        start += 1
        end -= 1
A = [1, 2, 3, 4, 5]
print(A)
reverse_List(A, 0, 4)
print("Reversed list is")
print(A)

[1, 2, 3, 4, 5]
Reversed list is
[5, 4, 3, 2, 1]

In [55]:
def reverse_List(A, start, end):
    while start < end:
        A[start], A[end] = A[end], A[start]
        start += 1
        end -= 1
A = ['A', 'B', 'C']
print(A)
reverse_List(A, 0, 2)
print("Reversed list is")
print(A)

['A', 'B', 'C']
Reversed list is
['C', 'B', 'A']

# 10

In [57]:
def capitalize_lst_item(lst):
    for x in lst:
        print(x)
fruit=['guava','lemon','kiwi']
lst=[x.upper() for x in fruit]
capitalize_lst_item(lst)
def add_item(lst,item):
    lst.append(item)
    return lst
    
food_stuff=['Potato','Tomato','Mango','Milk']
food_stuff=add_item(food_stuff,'Milk')
food_stuff

GUAVA
LEMON
KIWI

['Potato', 'Tomato', 'Mango', 'Milk', 'Milk']

# 11

In [58]:
def add_item(lst,item):
    lst.append(item)
    return lst
    
number=[2,3,7,9]
number=add_item(number,5)
number

[2, 3, 7, 9, 5]

# 12

In [59]:
def remove_item(lst,item):
    lst.remove(item)
    return lst
    
food_stuff=['Potato','Tomato','Mango','Milk']
food_stuff=remove_item(food_stuff,'Mango')
food_stuff

['Potato', 'Tomato', 'Milk']

# 13

In [89]:
def remove_item(lst,item):
    lst.remove(item)
    return lst
    
number=[2,3,7,9]
number=remove_item(number,3)
number

[2, 7, 9]

# 15

In [66]:
def sum_of_even(n):
    curr = 2
    sum = 0
    i = 1
     
    
    while i <= n:
        sum += curr
         
        
        curr += 2
        i = i + 1
    return sum
n = 20
print("sum of first ", n, "even number is: ",
      sum_of_even(n))

sum of first  20 even number is:  420

# 6b

2

In [68]:
num = 7
factorial = 1
if num < 0:
    print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    for i in range(1,num + 1):
        factorial = factorial*i
    print("The factorial of",num,"is",factorial)

The factorial of 7 is 5040

# 3

In [70]:
def is_empty():
    pass
mutex=True
if(mutex==True):
    pass
else:
    print("False")

4

In [71]:
import statistics
data1 = [1, 3, 4, 5, 7, 9, 2]
 
x = statistics.mean(data1)
print("Mean is :", x)

Mean is : 4.428571428571429

In [72]:
import statistics
number=[1,2,3,4,5]
med=statistics.median(number)
print(med)

3

In [73]:
number=[1,2,3,4,5]
mod=statistics.mode(number)
print(mod)

1

In [74]:
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

In [75]:
import numpy as np
lst=[1,2,3]
var=np.var(lst)
print(var)

0.6666666666666666

# 6c

1

In [76]:
num = 11
if num > 1:
    
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

11 is a prime number

2

In [77]:
Alist = ['Mon','Tue','Wed']
print("The given list : ",Alist)

if(len(set(Alist)) == len(Alist)):

    print("All elements are unique.")
else:
    print("All elements are not unique.")

The given list :  ['Mon', 'Tue', 'Wed']
All elements are unique.

3

In [78]:
test_list = [5, 6, 2, 5, 7, 9]
print("The original list is : " + str(test_list))
res = True
for ele in test_list:
    if not isinstance(ele, type(test_list[0])):
        res = False 
        break
print ("Do all elements have same type : " + str(res))

The original list is : [5, 6, 2, 5, 7, 9]
Do all elements have same type : True

4

In [81]:
from keyword import iskeyword
def is_valid_variable_name(name):
    return name.isdentifier() and not iskeyword(name)

In [80]:
is_valid_variable_name